<!-- Carousel
================================================== -->

<div class="col-md-6 col-xs-12 carousel-wrapper">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
<% first = true %>
    <% @projects.reverse_each do |project| %>
      <% if first %>
        <div class="item active">
          <img class="project-image" src="<%= url_for :controller => 'projects', :action => 'showimage', :id => project.id %>">
        </div>
      <%first = false%>
      <%else%>
        <div class="item">
          <img class="project-image" src="<%= url_for :controller => 'projects', :action => 'showimage', :id => project.id %>">
        </div>
      <%end%>
    <%end%>

    <a href="/projects">
    <div class="shader">
      <div class="enter-button">
        <p class="enter">Enter Gallery</p>
      </div>
    </div>
    </a>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div><!--/.column -->
