<!-- Carousel
================================================== -->
<%= javascript_include_tag "bootstrap-carousel" %>
<%= javascript_include_tag "bootstrap-transition" %>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help