
<% provide(:title, 'Tony Yau') %>
<div class="container front_wrapper">
	<div class="col-md-6 col-xs-12 site-title-wrapper">
		<a id="site-title-link" href="/"><h1 id="site_title">Tony Yau</h1></a>

		<!-- Links to info and gallery -->
		<div class="link-wrapper">
			<ul>
				<li><a href="/info">Info </a>&nbsp|&nbsp</li>
				<li><a href="/projects">Gallery</a></li>
			</ul>
		</div>

	</div>
	<%= render 'pages/bootstrapcarousel' %>
</div>
<script>
  $(document).ready(function () {
    $('.carousel').carousel({
      interval: 3000
    });
  });
</script>