
<% provide(:title, 'Tony Yau') %>
<div class="container front_wrapper">
	<div class="col-md-6 col-xs-12 site-title-wrapper">
		<a id="site-title-link" href="/"><h1 id="site_title">Tony Yau</h1></a>

		<!-- Links to info and gallery -->
		<div class="link-wrapper">
			<ul>
				<li><a href="/">Home </a>&nbsp|&nbsp</li>
				<li><a href="/projects">Gallery</a></li>
			</ul>
		</div>

	</div>
		<div class="col-md-6 col-xs-12 info-wrapper">
			<p>Tony Yau is an industrial designer,
				currently studying design in the Aalto
				University in Helsinki, Finland. His main
				strengths are his knowledge of various
				materials and areas of design. He has
				designed eg. watches, bags, and
				furniture.</p><br><br>
		<a href="mailto:tony.yau@gmail.com<" target="_top">tony.yau@gmail.com</a>
		</div>
</div>
