<p id="notice"><%= notice %></p>

<div class="gallery-wrapper">
  <h1 id="gallery-title">Gallery</h1>

  <% @projects.each do |project| %>
    <div class="col-md-6 col-xs-12">
      <tr>
        <td><img class="project-image" src="<%=project.image%>"></td>
        <td class="project-name"><%= project.name %></td>
        <td class="project-descrpition"><%= project.desc %></td>
      </tr>
    </div>
  <% end %>
</div>

