.front_wrapper{
	margin: 7%;
	text-align:center;

}
#site_title{
	font-size:170px;
	letter-spacing:6px;
	font-family:sans-serif;
}

.link-wrapper{
	margin-top:10px;
	margin-right:25px;

	ul{
		font-family:sans-serif;

		li{
			display: inline-block;
			font-size: 30px;
			color:#737373;
			letter-spacing: 4px;

			a{
				text-decoration: none;
				color:#737373;

			}

			a:hover, a:active{
				text-decoration: underline;
				background-color: #fff;
			}
		}
	}
}

.carousel-wrapper{
	margin-top:5%;
	max-height:400px;

	.carousel-inner{
		position:relative;
	}

	.shader{
		background-color: #000;
		opacity: 0;
		width:100%;
		height:100%;
		z-index: 10;
		transition:opacity 0.5s;
		position: absolute; top: 0; left: 0;
	}

	.shader:hover{ 
		opacity: 0.65;
	}

	.enter{
		font-family: sans-serif;
		letter-spacing:5px;
		font-size: 4em;
		color:#fff;
		line-height: 360px;
	}


	.item{
		height: 400px;

		img{
			height:100% !important;
			width: 100%;
			position:relative;
		}
	}

	.carousel-control{display:none;}
}

@media (max-width:1200px){
	.carousel-wrapper{
	margin-top:9%;
	max-height:400px;
	overflow:hidden;

		.item, .active{
			height: 400px;

			img{
				height: 390px !important;
				width: 100%;
			}
		}
	}

}

@media (max-width:980px){
	
	#site_title{
		font-size:130px;
	}

	.link-wrapper{
		margin-top:15px;
		margin-right:25px;
	}

	.carousel-wrapper{
	margin-top:5%;
	max-height:300px;
	overflow:hidden;

		.shader{
			display:none;
		}
		
		.item, .active{
			height: 300px;

			img{
				height:auto;
				width: 100%;
			}
		}
	}

}


