// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: folio-medium;
  src: "./folio-medium.tff";
}

.gallery-wrapper{
	text-align:center;
}

#gallery-title{
	font-family:folio-medium;
	font-size:5em;
	margin-bottom:35px;

}

.image-list-wrapper{
	margin-left:5%;
}
.project-image{
	width:90%;
	height:90%;
	margin:0px;
}

.project-container{
	padding: 0 !important;
}


.even-project{
	margin-left: 8% !important;
}

.project-desc-wrapper{
	display:none;
	margin-bottom:7%;
}

.desc-left{
		margin-left: 9%;
}

.project-description{
	width:90%;
}

.image-wrapper{
	width: 90%;
	margin:7px;
	position: relative;
		margin-bottom: 4%;
}


	.shader2{
		background-color: #000;
		opacity: 0;
		width:90%;
		height:100%;
		z-index: 10;
		transition:opacity 0.5s;
		position: absolute; top: 0; left: 5%;
	}

	.shader2:hover{ 
		opacity: 0.65;
	}

	
.project-name {
    font-family: folio-medium;
    font-size: 3em;
    color: #fff;
    margin-top: 25%;
    word-wrap: break-word;
    line-height: 42px;
	}

	//new project

	.newProjectWrapper, .editProjectWrapper{
		text-align: center;

		#project_image{
		    margin-left: auto;
			margin-right: auto;
		}

		#project_desc{
			width: 60%;
    		height: 200px;
    		resize: none;
		}
	}

