// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//CHANGE THIS LATER!
.project-image{
	width:100px;
	height:100px;
	margin:7px;
}