// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-wrapper{
	text-align:center;
}

#gallery-title{
	font-family:sans-serif;
	font-size:8em;
	margin-bottom:35px;
	text-shadow: 4px 3px 5px rgba(150, 150, 150, 1);
}

.image-list-wrapper{
	margin-left:5%;
}
.project-image{
	width:100%;
	height:100%;
	margin:0px;
}

.project-desc-wrapper{
	display:none;
	margin-bottom:7%;
}

.project-description{
	width:90%;
}

.image-wrapper{
	width: 90%;
	margin:7px;
	position: relative;
}


	.shader2{
		background-color: #000;
		opacity: 0;
		width:100%;
		height:100%;
		z-index: 10;
		transition:opacity 0.5s;
		position: absolute; top: 0; left: 0;
	}

	.shader2:hover{ 
		opacity: 0.65;
	}

	
.project-name {
    font-family: sans-serif;
    font-size: 3em;
    color: #fff;
    margin-top: 25%;
    word-wrap: break-word;
    line-height: 42px;
	}

	//new project

	.newProjectWrapper, .editProjectWrapper{
		text-align: center;

		#project_image{
		    margin-left: auto;
			margin-right: auto;
		}

		#project_desc{
			width: 60%;
    		height: 200px;
    		resize: none;
		}
	}

